<h2>
	<span>Funny Joke of the Day</span>
</h2>	
<%= @quote.inspect %>

<h2>
	<span>Categories</span>
</h2>

<br />

<div class="col-xs-4 col-sm-2 thumbnail">
	<div class="square">1</div>
</div>

<div class="col-xs-4 col-sm-2 thumbnail">
	<div class="square">2</div>
</div>

<div class="col-xs-4 col-sm-2 thumbnail">
	<div class="square">3</div>
</div>

<div class="col-xs-4 col-sm-2 thumbnail">
	<div class="square">4</div>
</div>

<div class="col-xs-4 col-sm-2 thumbnail">
	<div class="square">5</div>
</div>

<div class="col-xs-4 col-sm-2 thumbnail">
	<div class="square">6</div>
</div>



<!--
<h1><%= @quote.saying %></h1>
<h2 class="pull-right">- <%= @quote.author %></h2>
-->

<br class="clear" />
<br />
<br />
<br />